body{
    padding: 0;
    margin: 0;
}
.viewport{
min-height: 100vh;
}
.first  {
    display: block;
    background: rgb(32, 111, 158);
        background: linear-gradient(90deg, 
        rgba(32, 111, 158, 1) 0%, 
        rgba(48, 156, 159, 1) 49%,
         rgba(65, 201, 161, 1) 100%);
}
.second{
    display: block;
    background: rgb(170, 55, 114);
        background: linear-gradient(90deg,
         rgba(170, 55, 114, 1) 0%,
         rgba(189, 91, 68, 1) 49%,
          rgba(208, 125, 25, 1) 100%);
}
section{
    position: absolute;
    
}