html{
    background-color: aqua;
    
}
header{
    display: flex;
}
h1{
    text-align: center;
    margin: 10px 10px;
    border: 3px solid orchid;
}
li a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}