html{
    background-color: aqua;
    
}

h1{
    text-align: center;
    margin:1em 1em;
    border: 3px solid orchid;
    border-radius: 0.5em;
    padding: 1rem 1rem;
    width: 50%;
    text-decoration: solid;
}
