@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
.page{
    width: 1800px;
    margin: 0 auto;
}
.left-side ul li{
    display: inline;
 
    list-style: none;
    gap:1.5em
}    
.right-side ul li{
    display: inline;

    list-style: none;
    gap:1.5em
}
